{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "jasmine": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        "semi": 2
    }
}
