@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../mixins/heading";

.post {
    display: block;
}

.post-description {
    display: block;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: $font-size-large;
        margin: $line-height-computed 0;
        padding: 0;
    }
}

.post-heading {
    @include heading();
}

.post-image {
    margin-bottom: $line-height-computed;
}
