@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

.post-list-item {
    display: block;
    margin: $line-height-computed 0;
}

.post-list-item-heading {
    border-bottom: 1px dashed;
    font-size: $font-size-base;
    margin: 0 0 ($line-height-computed / 2) 0;
    padding: 0 0 ($line-height-computed / 10) 0;
}

.post-list-item-description {
    margin: 0;
}
