@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.site-heading {
    font-size: $font-size-large;
    margin: 0;
    padding: 0;

    a {
        color: $text-color;
        
        &:active,
        &:focus,
        &:hover,
        &:visited {
            color: $text-color;
        }
    }
}
